*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
*.jks
*.keystore
*.p12
*.pfx
.kotlin/
/.idea/appInsightsSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/material_theme_project_new.xml
/.idea/firebender/
/.idea/markdown.xml
